/*@media (min-width: 500px) {*/
    body{
        font-family: 'Cutive Mono';
    }
    .registerForm{
        margin: 2em;
        padding-bottom: 1em;
        border:1px solid black;

}
  
nav a{
    padding:1em;
}
div{
    padding-left:0.5em;
}

.valid{
    border-color:forestgreen;
    color:forestgreen;
}
.notValid{
    border-color:palevioletred;
    color:palevioletred;
}

.flashbox
{
    display:block;
    border:solid 1px;
    margin:3px;
}

/*}*/
/*@media (max-width: 499px) {  }*/
